@import "tailwindcss";

@theme inline {
  --color-primary: #6366F1;
  --color-primary-hover: #4F46E5;
  --color-success: #22C55E;
  --color-error: #EF4444;
  --color-warning: #F59E0B;
  
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-sidebar: #111827;
  --color-border: #334155;
  
  --color-text-primary: #F8FAFC;
  --color-text-muted: #94A3B8;

  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
}
